.user-profile-page {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

.user-profile-page h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20.05px;
  letter-spacing: -0.37px;
}

.user-profile-data {
  width: 100%;
}

.user-activity {
  display: flex;
  gap: 10px;
}

.user-profile-data h5 {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 20.05px;
  letter-spacing: -0.37px;
  margin: 5px 0;
}
